<div class ="ui segment">
<h3>
  Lade deine Fotos hoch
</h3>
<div>
<app-preview></app-preview>
</div>
<div>
    <label for="file" class="ui small primary icon button">
        <i class="file icon"></i>
        {{images.length == 0 ? 'Fotos auswählen' : 'Fotos hinzufügen'}}</label>
    <input type="file" (change)="onChange($event)" id="file" style="display:none" accept="image/*">
    <button *ngIf="images.length > 0" class="ui small primary button" (click)="uploadImages">hochladen</button>
</div>
</div>

